* {
    margin: 0;
    padding: 0;
}


/* 
#487cff
#3459b6
#8aaafc

*/

header {
    /* 
    background: linear-gradient(90deg, #01052a, #3459b6); */
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    height: 64px;
    border-radius: 0 0 18px 18px;
    background: #3459b6;
}

nav a {
    color: white;
}

.principal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 60px;
    animation: rotate 15s infinite 0s linear;
}

.section-intro {
    max-height: 100vh !important;
    min-height: 100vh !important;
    position: relative;
}

.back-layer {
    position: relative;
    width: 100%;
    height: 105vh;
    background: linear-gradient( #3459b6, #3459b6, #ffffff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-affiche-container {
    position: absolute;
    z-index: 0;
    width: 300px;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: auto;
    right: 195px;
    overflow: hidden;
    border-left: 3px dashed #3459b634;
    border-right: 3px dashed #3459b634;
}

.scroll-affiche-container ul {
    height: max-content;
    transform: translateY(-10%);
    margin-right: 20px;
    animation: scroll 100s infinite 0s alternate-reverse linear;
}

.scroll-affiche-container li {
    width: 100%;
    margin: 5px 10px;
    border-radius: 8px;
}

.scroll-affiche-container img {
    width: 100%;
    border: 3px solid white;
    border-radius: 18px;
    opacity: 0.9;
}

@keyframes scroll {
    from {
        transform: translateY(-95%);
    }
    to {
        transform: translateY(0%);
    }
}

.text-layer {
    padding-top: 80px;
    top: 0;
    position: absolute;
    z-index: 2;
    height: 120vh;
    width: 100%;
}

.text-layer .row {
    height: 100%;
}

.text-layer .row .text-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.text-layer .text-container>div {
    position: relative;
    z-index: 1;
    border-radius: 18px;
    padding: 20px;
    width: 100%;
    background: rgba(10, 24, 71, 0.377);
    backdrop-filter: blur(6px);
}

.text-layer .row h1 {
    font-size: 54px;
    color: silver !important;
}

.text-layer .row .right {
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 70px;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

@media only screen and (max-width: 772px) {
    .scroll-affiche-container {
        right: 0;
        width: auto;
        margin: 0 20px;
    }
    .text-layer .row h1 {
        font-size: 42px;
        color: silver !important;
    }
}

input {
    margin: 8px 0;
    padding: 12px;
    border-radius: 18px;
    border: 2px solid #01052a;
    width: 100%;
    background: none;
    color: rgb(41, 41, 41);
}

input::placeholder {
    color: #01052ab2;
    font-size: 16px;
    text-align: left;
}

.submit-btn {
    margin: 20px 0;
    background: #01052a;
    color: white;
    border: none;
    width: 140px;
    font-size: 18px;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}